TOKEN="Ваш токен для телеграм бота"

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=db

YC_API_KEY="Ваш апи ключ от LLM YandexGPT"
YC_MODELS=yandexgpt-lite
YC_TEMPERATURE=0.1
YC_MAX_TOKENS=1000
YC_FOLDER_ID="Ваш id от аккаунта в YandexCloud"

LOG_LEVEL=INFO
LOG_FILE=logs/bot.log

POSTGRES_USER=postgres
POSTGRES_PASSWORD="Ваш пароль"
POSTGRES_DB=video_analytics

# Опциональные настройки PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD="Ваш пароль"
